.noteEditorModalHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .addNoteToFolder,
    .collaboratorsSection {
        height: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 0 1rem 1rem 1rem;
        border-radius: var(--mainBorderRadius);
    }

    .collaboratorsSection {
        background-color: var(--lightBlack);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .collaboratorsList {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin: 1rem;
            position: relative;

            .emailBox {
                background-color: var(--darkGrey);
                border: solid 2px transparent;
                border-radius: var(--bigBorderRadius);
                padding: 0.5rem 1rem;
                transition: 0.2s;
                cursor: pointer;

                span {
                    font-size: 90%;
                }

                &:hover {
                    scale: 0.95;
                    border: solid 2px var(--White);
                }
            }

            .deleteNoteButtonIcon {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 3rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                // border-radius: 50%;
                background-color: var(--Red);
                transition: 0.2s;

                svg {
                    scale: 1.3;
                }

                &:hover {
                    scale: 0.9;
                }

                &:disabled {
                    filter: brightness(50%);
                    &:hover {
                        scale: 1;
                        cursor: not-allowed;
                    }
                }
            }
        }

        .footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-inline: auto;
            border-top: solid 1px var(--Grey);
            padding: 1rem;
            gap: 0.6rem;

            .newCollaboratorEmailSection {
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;
                transition: 0.2s;

                .newCollaboratorEmailInput {
                    width: 100%;
                    height: 3rem;
                    padding: 0 1rem;
                    border: none !important;
                    background: var(--darkGrey);
                }
            }
        }
    }

    .addNoteToFolder {
        background-color: var(--lightBlack);

        .foldersList {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            margin: 1rem;

            .folderCardSelector {
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                // border-radius: 30px;
                font-size: 80%;
                padding: 0.2rem 1.5rem;
                transition: 0.2s;
                user-select: none;

                &:hover {
                    cursor: pointer;
                    scale: 0.95
                }
            }
        }
    }
}