.settingsModal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    .profileSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--darkGrey);
        padding: 1rem;
        border-radius: var(--mainBorderRadius);
        gap: 1rem;
    }
}