.settingsModal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2rem;

    .profileSection {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        gap: 1rem;

        .newPassword {
            height: 0;
            overflow: hidden;
        }
    }
}