@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lekton-Regular";
  src: url("/fonts/Lekton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --mainBoxShadow: var(--Black) 2px 2px 5px;
  --bigBoxShadow: var(--Black) 0px 10px 30px;
  --mainBorderRadius: 0px;
  --bigBorderRadius: 30px;

  --Black: #000000;
  --lightBlack: #101010;
  --White: #f0f0f0;
  --softWhite: #dddcdc;
  --transparentWhite: #ffffff45;
  --lightGrey: #707070;
  --Grey: #7B7B7B;
  --darkGrey: #1a1e24;
  --Pink: #FF4DA6;
  --SlateRed: #E0354C;
  --Purple: #9933CC;
  --Yellow: #FFD700;
  --Brown: #9E6B43;
  --Orange: #FF8C00;
  --Azure: #8BC478;
  --Green: #00A693;
  --darkGreen: #2E5E4E;
  --Red: #CC0000;
  --Cyan: #5F83B4;
  --GreyishBlue: #6D8E97;
  --SlateBlue: #6A70D3;
  --Blue: #4169E1;
}

* {
  color: var(--White);

  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.end {
  display: flex;
  justify-content: end;
  align-items: center;
}

html {
  margin-top: var(--safe-area-inset-top);
  position: relative;
}

body {
  font-family: "Lekton-Regular", sans-serif;
  backdrop-filter: blur(10px);
  height: 100svh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: var(--lightBlack);
}

.gradient-background {
  background: linear-gradient(300deg, #5F83B4 0%, black 35%, black 65%, #5F83B4 100%);
  background-size:
    200% 200%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  30% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.mainBtn {
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: var(--mainBorderRadius);
  background-color: var(--Blue);
  user-select: none;
  cursor: pointer;
  -webkit-user-drag: none;
  transition: 0.2s;

  &:hover {
    transform: scale(0.9);
    background: var(--Grey);
  }

  &:active {
    scale: 0.95;
    filter: brightness(60%);
  }
}



.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Black);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  cursor: pointer;
  -webkit-user-drag: none;
  transition: 0.2s;
  padding: 0.5rem 1rem;
  background-color: transparent;

  &:disabled {
    background-color: var(--Grey);
    border-radius: var(--mainBorderRadius);
    filter: opacity(50%);
    border: none !important;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: var(--White) 1px solid !important;
  background-color: var(--);
  border-radius: var(--mainBorderRadius);
}

.icon {
  svg {
    width: 15px;
    height: 15px;
  }
}

h1 {
  font-weight: bold;
}

.title {
  // font-family: "Inter", 'sans-serif';
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 4px;
  text-wrap: wrap;
  text-overflow: ellipsis;
  word-break: break-all;
  width: 100%;
  overflow: hidden;
}