.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.folderCreator {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5rem;
  padding-top: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  * {
    user-select: none;
  }
  .wrapper {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    .heading {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .createFolderBtn {
      width: 100%;
      height: 5rem;
    }
  }
}

.folderCard {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  border-radius: 15px;
  background-color: var(--lightBlack);
  padding: 1.3rem 1rem;
  transition: 0.2s;
  user-select: none;
  margin-top: -10px;
  box-shadow: var(--bigBoxShadow);
  transform: perspective(800px) rotateX(-10deg);
  z-index: 0;
  &:hover {
    cursor: pointer;
    scale: 0.95;
  }
  .notesCounter {
    font-size: 80%;
    color: var(--softWhite);
  }
  .cornerRounder1 {
    position: absolute;
    top: -5px;
    left: 0;
    width: 43%;
    height: 100%;
    z-index: -1;
    border-radius: var(--mainBorderRadius) 20px var(--mainBorderRadius)
      var(--mainBorderRadius);
  }
  .cornerRounder2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    z-index: -1;
    // background-color: red !important;
    border-radius: 0 0 var(--mainBorderRadius) var(--mainBorderRadius);
  }
  .cornerRounder3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 59.5%;
    height: 18%;
    z-index: -1;
    background-color: var(--lightBlack);
    // background-color: red !important;
    border-radius: 0 15px 0 30px;
  }
}

.loginModal,
.loginModalHeader {
  background-color: var(--lightBlack);
  input {
    color: var(--Black);
  }
  .mainBtn {
    color: var(--Black);
    background-color: var(--Yellow);
  }
}

// tablet && smartphones
@media (max-width: 1000px) {
  .folderCreator {
    padding: 1rem;
    .wrapper {
      width: 100%;
      flex-direction: column;
    }
  }
  // remove hover effect on folder cards
  .folderCard {
    &:hover {
      // background-color: transparent;
      scale: 1;
    }
    &:active {
      scale: 0.95;
    }
  }
}
