.noteCard {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.4rem;
  user-select: none;
  border-radius: var(--mainBorderRadius);
  padding: 0.6rem;
  z-index: 0;
  animation: onNoteCardMount 2s ease;
  background-color: #ffffff33;
  border: 2px solid #ffffff70;

  span,
  h1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
  }

  footer {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
    background-color: var(--lightBlack);
    border-radius: var(--mainBorderRadius);
    padding: 0 0.5rem;

    .folderName {
      width: fit-content;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 0;
    }

    .collaboratorIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 0.2rem;
    }
  }


}

@keyframes onNoteCardMount {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}