.noteCard {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  user-select: none;
  background-color: var(--lightBlack);
  border-radius: var(--mainBorderRadius);
  padding: 1rem;
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
